body {
    background-color: rgb(0, 0, 0);
}
header h1 {
    background-image: linear-gradient(to right, #efea9e 0%, #30f070 51%, #a39eef 100%);
    padding: 10px 15px;
    margin: 5px 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-bottom: 30px;
}
header ul {

    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

header li {
    display: inline-block;
    margin: auto;
}
.menu{
    text-decoration: none;    
    color: rgb(17, 17, 17);
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
}


main {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 30px;
    margin: 10px 20px;
    text-align: center;
    font-size: 30px;
}

img {
    float: left;
    padding: 20px 30px;
    margin: 10px 20px;
}

main li {
    font-size: 20px;  
}
footer {
    color: black;
    font-size: 18px;
    text-align: left;
    background-image: linear-gradient(to right, #efea9e 0%, #30f070 51%, #a39eef 100%);
    padding: 10px 15px;
    margin: 5px 10px;
}
.text {
    height: 200px;
    width: 300px;
 }